<h1>Wallets</h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Walletbalance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @wallet.walletbalance %></td>
      <td><%= link_to 'Show', @wallet %></td>
      <td><%= link_to 'Edit', edit_wallet_path(@wallet) , class: 'btn btn-outline-warning btn-xs'%></td>
      <%# <td><%= link_to 'Destroy', @wallet, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Wallet', new_wallet_path %> 
