<div class="row" data-controller="transaction">
  <div class="col-4">
  </div>
  <div class="col-4">
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
        <ul>
          <% @transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 
    <%= simple_form_for @transaction do |form| %>

      <div class="from-group" data-action="change->transaction#typeSelection">
        <%= form.input :type, collection:["","Expense","Income","Transfer"],selected:"" ,input_html:{class: "form-select",'data-transaction-target': 'selectType'}%>
      </div>

      <div class="from-group" data-transaction-target="selectDate">
        <%= form.input :transaction_date, as: :date, class:"form-control" %>
      </div>

      <div class="from-group" data-transaction-target="selectTransferFromTo"  data-action="change->transaction#transferFrom">
        <%= form.input :transfer_from_id, collection: @accounts_name,prompt: "select Bank",required: true, input_html:  {class: "form-select",'data-transaction-target': 'transferFromId'}%>   
        <%= form.input :transfer_from_type, as: :hidden, input_html: {'data-transaction-target': 'transferTransferType'}%>
      </div>

        <div class="from-group" data-transaction-target="selectTransferTo"  data-action="change->transaction#transfer">
          <%= form.input :transfer_to_id, collection: @accounts_name,prompt: "select Bank", input_html:  {class: "form-select",'data-transaction-target': 'transferToId'}%>
          <%= form.input :transfer_to_type,as: :hidden,input_html: {'data-transaction-target': 'transferToType'}%>
        </div>
      

      <div class="from-group" data-transaction-target="categorySelect" data-transaction-target="categorySelect">
        <%= form.label :category %>
        <%= form.select :category,options_for_select(Transaction.categories.map {|key, value| [key.titleize, Transaction.categories.key(value)]}, @transaction.category), {}, class:"form-select"%>
      </div>

      <div class="from-group" data-transaction-target="selectTransaction">
        <%= form.label "Enter Transaction Amount" %>
        <%= form.number_field :transaction_amount,required: true,class:"form-control" , min: 1 %>
      </div>

      <div class="actions">
        <%= form.submit 'Save', class: 'btn btn-success' %>
      </div>

    <% end %>
  </div>
  <div class="col-4">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Walletbalance</th>
          <th scope="col"><%= current_user.wallet.walletbalance %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
    </table>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Accountname</th>
          <th scope="col">Accountbalance</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% current_user.accounts.each do |account| %>
          <tr>
            <td><%= account.accountname %></td>
            <td><%= account.accountbalance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
