<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div  class="col-sm-6"> 
  <div class="from-group">
    <%= form.label :type %>
    <%= form.text_field :type , class:"form-control" %>
  </div>

  <div class="from-group">
    <%= form.label :transaction_amount %>
    <%= form.number_field :transaction_amount, class:"form-control"  %>
    
  </div>


  <div class="from-group btn-group dropend">
    <%= form.label "transfer-to"%>
    <%# byebug %>
    <%= form.select :transfer_for, current_user.accounts.pluck(:accountname) %>
     <%# @accounts.each do {|u| [ u.accountname] }  %>
     <%# <button type="button" class="btn btn-secondary">
     Select Bank
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropright</span>
    </button>
    <ul class="dropdown-menu">
       <% @accounts.each do |account| 
         <%= form.select :account.accountname :transfer_for, class:"form-control" 
        <li><%= account.accountname%/li> 
       <% end 
       
    </ul> %>
  </div>

  <div class="field">
    <%= form.label :transfer_id %>
    <%= form.number_field :transfer_id  , class:"form-control" %>
  </div>

  <div class="from-group">
    <%= form.label :category %>
    <%= form.select :category, Transaction.categories.keys  , class:"form-control"%>
    <%# # options_for_select(Transaction.category.map {|key, value| [key.titleize, Transaction.category.key(value)]}, @transaction.category), {}, class:"form-select" %>
     <%# <%= form.text_field :category  , class:"form-control"  %> 
  </div>

  <div class="from-group">
    <%= form.label :transfer_from %>
    <%= form.text_field :transfer_from  , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>










