
<div class="row">

    <div class="col-4">
      <%if user_signed_in?%>
          <table class="table">
          
          <tbody>
            <br><br><br>
            <tr>
              <th scope="row">Expnese:-</th>
              <td><%= @aggregate[0][1].to_f %></td>
            </tr>
            <tr>
              <th scope="row">Income:-</th>
              <td><%= @aggregate[1][1].to_f %></td>
            </tr>
              <tr>
              <th scope="row">Wallet:</th>
              <td><%= current_user.wallet.walletbalance %></td>
            </tr>
          <tr>
              <th scope="row">Bank Balnce:</th>
              <td><%= current_user.accounts.sum(:accountbalance) %></td>
            </tr>
            <tr>
              <th scope="row">Total Credit:</th>
              <td><%= current_user.accounts.sum(:accountbalance) + current_user.wallet.walletbalance  %></td>
            </tr>
          </tbody>
        </table>

      <% end %>
   </div>

    <div class="col-4">
      <%if user_signed_in?%>
      <%= pie_chart @aggregate, width: "500px"  %>
      <% end %>
    </div>

    <div class="col-4">
        <%= render partial:"public/simple_calendar" %>
  </div>

  <%# <div class="col-12">

  </div> %>
  
</div>



   


 